*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(102, 29, 29);
}
h2{
    margin: auto;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgb(102, 29, 29);
}
.form{
    text-align: center;
    padding: 20px;
}
.form img{
    max-width: 500px;
    width: 100%;
}
.form input[type=password],
.form input[type=email]{
    display: block;
    border-radius: 20px;
    padding-left: 10px;
    margin: 10px auto;
    font-size: 16px;
    max-width: 500px;
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
}
.form textarea{
    padding: 10px;
    resize: vertical;
    display: inline-block;
    border-radius: 20px;
    margin: 10px auto;
    font-size: 16px;
    max-width: 500px;
    width: 100%;
    height: 120px;
}
.form button[type=submit]{
    display: block;
    border-radius: 20px;
    padding-left: 10px;
    margin: 10px auto;
    font-size: 16px;
    cursor: pointer;
    max-width: 500px;
    color: white;
    background-color: rgb(146, 8, 8);
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
}
